*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

html, body{
        font-family: Jost;
        background-color:  white;
}

:root{
        --colorA: rgb(185, 184, 184);
        /* --secondary-color: #FFD166;
        --tertiary-color: #06D6A0;
        --quaternary-color: #118AB2;
        --quinary-color: #073B4C; */
}